@font-face {
    font-family: 'Fredoka';
    src: url('./fonts/static/Fredoka-light.ttf');
    font-weight: 300;
}

@font-face {
    font-family: 'Fredoka';
    src: url('./fonts/static/Fredoka-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'Fredoka';
    src: url('./fonts/static/Fredoka-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Fredoka';
    src: url('./fonts/static/Fredoka-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Fredoka';
    src: url('./fonts/static/Fredoka-Bold.ttf');
    font-weight: 700;
}